 
 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="utf-8">
         <title>es6</title>
     </head>
     <body>
         <p>vue</p>
         <p>es6</p>
         <p>js-strong</p>
         <p>混合实战开发</p>
         <script src="../js/index.js" charset="utf-8"></script>
     </body>
 </html>